<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnmd.liuwan.mapper.OrderSucMapper">

	<select id="getBusOrderByID" resultType="BusOrder">
		select 
			obid,oid,bus_id,orderdate,phone,ordernum,usename,persons
		from busorder 
		where obid = #{obrd}
	</select>














</mapper>
	